<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trainerkit</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
  <link href="static/styles.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar-left">
                <!--"img src="static/image/logo1.jpg" alt="here" style="height: 50px; border-radius: 50% ;" class="logo"-->
                <a href="/" class="nav-link"><div style="color: #000000ff; font-size: 20px">Home</div></a>
                <a href="/players" class="nav-link"><div>Players</div></a>   
            </div>
            <div class="navbar-right">
                <div class="find-a-store">
                    <svg
                        aria-hidden="true"
                        class="valign-middle pr2"
                        focusable="false"
                        preserveAspectRatio="xMidYMid meet"
                        style="
                            width: 32px;
                            height: 32px;
                            overflow: visible;
                            fill: currentColor;
                        "
                        viewBox="0 0 24 24"
                    >
                        <path></path>
                    </svg>
                </div>
                <div class="sign-in">Sign in</div>
                <div class="join-now">Join now</div>
            </div>
        </div>
    </div>