<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trainerkit - Phân tích Cầu thủ</title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="static/style2.css" rel="stylesheet">
  <link href="static/style3.css" rel="stylesheet">
</head>
<body>

    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar-left">
                <a href="/" class="nav-link"><div style="color: #2563eb; font-size: 20px; font-weight: 800;">🏠 Home</div></a>
                <a href="/players" class="nav-link"><div>👥 Players</div></a>
                <a href="/chart" class="nav-link"><div>📊 Analysis</div></a>
                <a href="/comp" class="nav-link"><div>📊 Comparison</div></a>   
            </div>
            <div class="navbar-right">
                <div class="sign-in">Sign in</div>
                <div class="join-now">Join now</div>
            </div>
        </div>
    </div>
